# Voting State
VITE_VOTING_PAUSED=boolean
VITE_EVENT_FINISHED=boolean

# Event Configuration
VITE_CURRENT_DAY=7
VITE_TOTAL_DAYS=7
VITE_IS_FINAL=true

# API URLs
VITE_API_URL=string
VITE_VOTE_URL=string